<!DOCTYPE HTML>
<html>
    <head>
        <title>famo.us App</title>
        <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        
        <link rel="stylesheet" type="text/css" href="src/famous/core/famous.css" />
        
        <!-- build:css(.tmp) css/app.css -->
        <link rel="stylesheet" type="text/css" href="css/app.css" />
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        
        <!-- build:js src/vendor.js -->
        <script type="text/javascript" src="bower_components/famous-polyfills/functionPrototypeBind.js"></script>
        <script type="text/javascript" src="bower_components/famous-polyfills/classList.js"></script>
        <script type="text/javascript" src="bower_components/famous-polyfills/requestAnimationFrame.js"></script>
        <!-- bower:js -->
        <!-- endbower -->
        <!-- endbuild -->
        
        <script type="text/javascript" src="bower_components/requirejs/require.js" data-main="src/main"></script>
    </head>
    <body></body>
</html>
